

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full screen height for centering */
}

.spinner-border {
    width: 3rem;
    height: 3rem;
}