/* CareerPage.css */
.career-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.career-content {
    flex: 1;
    padding: 20px;
    margin: 80px auto; /* Adjusts the top margin to avoid overlapping with the Top Menu */
    max-width: 1200px;
}

.career-heading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
}

.career-search-input {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 0 auto 30px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.career-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.career-item {
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.career-title {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.career-description {
    font-size: 1rem;
    color: #666;
    margin-bottom: 10px;
}

.career-location {
    font-size: 0.9rem;
    color: #444;
    margin-bottom: 15px;
}

.apply-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.apply-button:hover {
    background-color: #0056b3;
}
